:root {
    --rosa: #EB455F;
}
.SelectionInscription {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 35rem;
    gap: 2rem; 
}
.SelectionInscription-1 {
    border-top: 1rem solid var( --rosa );
    border-radius: 1rem 1rem;
    background-color: #2B3467;
    padding: 2rem;
    color: #fff;
    overflow-y: auto;
    box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.58);
-webkit-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.58);
-moz-box-shadow: 10px 10px 11px -4px rgba(0,0,0,0.58);
}
.SelectionInscription-1 .title-materias {
    margin: 1rem 0;
}
.materia-subject span {
    font-weight: normal;
    font-size: 1.6rem;
}
.seleccionado-materias-derecha-2-materias {
    background-color: red;
}
.SelectionInscription-1-materias {
    background-color: #BAD7E9;
    color: #000;
    display: grid;
    grid-template-columns: 7fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.materias-selection p {
    margin: 0.5rem;
    font-weight: 600;
}
.materias-selection .data-id {
    display: none;
}
[type="checkbox"] {
    background-color: red;
    color: red;
}
[type="checkbox"]:checked { 
    border-color: red;
}
.materias-selection-input {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem 0 1rem;
    margin: 0;
}
.materias-selection-input-check {
    background-color: red;
    color: red;
}
